# Check https://circleci.com/docs/2.0/language-javascript/ for more details
version: 2

jobs:
  build:
    docker:
      - image: circleci/node:10.16
    working_directory: ~/repo

    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run:
          name: next build
          command: ./node_modules/.bin/next build
      - run:
          name: next export
          command: ./node_modules/.bin/next export -o dist

      - run:
          name: Setup Code Climate test-reporter
          command: |
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
            chmod +x ./cc-test-reporter

      - run:
          name: yarn test
          command: |
            ./cc-test-reporter before-build
            yarn test:coverage
            ./cc-test-reporter after-build --coverage-input-type clover --exit-code $?

      - run:
          name: yarn lint
          command: yarn lint

