<div class="navbar navbar-fixed-top bg-primary">
  <a href="/" class="navbar-brand">
    <span class="navbar-logo">
      {% asset logo-light-shadow.svg alt='Signisto Logo' %}
    </span>
    <span class="navbar-title">
      Signisto
    </span>
  </a>
  <ul class="navbar-navigation navbar-right">
    <!--
    <li class="navbar-navigation-item">
      <a href="/about" class="navbar-navigation-link">About</a>
    </li>
    -->
    <li class="navbar-navigation-item">
      <a href="/contact-us" class="navbar-navigation-link">Contact Us</a>
    </li>
  </ul>
</div>
