<div class="page-footer">
  <div class="page-footer-categories">
    <div class="container d-flex">
      <div class="w-50">
        <h4 class="category-title">Company</h4>
        <p class="category-body">
          Signisto Ltd
          <br/>
          Hope St Xchange, A Centre for Enterprise &amp; Innovation
          <br/>
          Sunderland, SR1 3QD
        <p>
        <p class="category-body">
          Email: <a href="mailto:enquiries@signisto.com">enquiries@signisto.com</a>
        </p>
      </div>

      <div class="w-25">
        <h4 class="category-title">Products</h4>
        <ul class="category-list">
          <li>
            <a href="https://gostatic.io" target="_blank">GoStatic</a>
          </li>
        </ul>
      </div>

      <div class="w-25">
        <h4 class="category-title">Services</h4>
        <ul class="category-list">
          <li>
            <a href="/">Software Development</a>
          </li>
          <li>
            <a href="/">Performance Consulting</a>
          </li>
          <li>
            <a href="/">Machine Learning</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="page-footer-social-links">
    <a href="https://twitter.com/signisto" target="_blank">Twitter</a>
    <a href="https://www.facebook.com/signisto" target="_blank">Facebook</a>
    <a href="https://www.linkedin.com/company/signisto" target="_blank">LinkedIn</a>
  </div>

  <div class="page-footer-copyright">
    &copy; 2017 Signisto Ltd
    &middot;
    <a href="/privacy-policy">Privacy Policy</a>
  </div>
</div>
