<div class="navbar navbar-fixed-top bg-primary">
  <a href="/" class="navbar-brand">
    <span class="navbar-logo">
      {% img logo-light-shadow.svg %}
    </span>
    <span class="navbar-title">
      Signisto
    </span>
  </a>
  <ul class="navbar-navigation navbar-right">
    <li class="navbar-navigation-item">
      <a href="/" class="navbar-navigation-link">About</a>
    </li>
    <li class="navbar-navigation-item">
      <a href="/" class="navbar-navigation-link">Contact Us</a>
    </li>
  </ul>
</div>
