body {
  background: $brand-color;
  color: $brand-color;
}

$logo-width: 84px;
$logo-height: 140px;

$container-width: 480px;
$container-height: $logo-height;
$transition-duration: 1.6s;

body.loaded {
  color: #fff;
  .container {
    color: #fff;
    .logo svg {
      g {
        stroke: #ffffff;
      }
    }
  }
}

.container {
  width: $container-width;
  height: $container-height;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 0 - ($container-width / 2);
  margin-top: 0 - ($container-height / 2);
  overflow: hidden;
  padding-left: $logo-width + 50;
  color: $brand-color;
  transition: color $transition-duration;
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: $logo-width;
    height: $logo-height;
    svg {
      width: 100%;
      height: 100%;
      g {
        stroke: $brand-color;
        transition: stroke $transition-duration;
      }
    }
  }
  .title {
    font-size: 48px;
    line-height: $container-height * 0.7;
    margin: 0;
    padding: 0;
  }
  .tagline {
    opacity: 0.8;
    font-style: italic;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 768px) {

  body {
    padding-top: 80px;
  }

  .container {
    position: relative;
    text-align: center;
    padding: 0;
    top: 0;
    left: 0;
    margin: 0;
    width: auto;
    height: auto;
    .logo {
      display: block;
      position: relative;
      margin: 0 auto 52px auto;
    }
  }

}
