.btn {
  @include transition(background .4s, color .4s);
  display: inline-block;
  height: $form-element-height-base;
  line-height: $form-element-height-base;
  background: #fff;
  border-radius: 6px;
  border: 1px solid $btn-border-color;
  padding: 0 12px;
  font-size: 1em;
  background: linear-gradient(175deg, #f7f7f7, #cccccc);
  &, &:hover, &:active {
    color: #555;
  }
  &:hover {
    text-decoration: none;
    background: linear-gradient(360deg, #f7f7f7, #c5c5c5);
  }
  &:active {
    background: linear-gradient(360deg, #e7e7e7, #b5b5b5);
  }
  text-shadow: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.btn-sm {
  height: $form-element-height-sm;
  line-height: $form-element-height-sm;
  padding: 0 8px;
  font-size: 0.8em;
}
.btn-lg {
  height: $form-element-height-lg;
  line-height: $form-element-height-lg;
  padding: 0 16px;
  font-size: 1.2em;
}

.btn-primary {
  border-color: $brand-color;
  background: linear-gradient(175deg, lighten($brand-color, 10%), $brand-color);
  &, &:hover, &:active {
    color: #fff;
  }
  &:hover {
    background: linear-gradient(360deg, lighten($brand-color, 10%), $brand-color);
  }
  &:active {
    background: linear-gradient(360deg, $brand-color, darken($brand-color, 10%));
  }
}

.btn-secondary {

}

.btn-homepage {
  background: #fcfcfc;
  border: 1px solid #999;
  // font-weight: bold;
  // border-radius: 10px;
  &, &:hover, &:active {
    color: #000;
  }
  &:hover {
    background: #e5e5e5;
  }
  &:active {
    background: #ccc;
  }
}
