.container {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 728px) {
  .container {
    padding-left: $gutter-width;
    padding-right: $gutter-width;
  }
}
@media screen and (min-width: 728px) {
  .container {
    max-width: 728px;
  }
}
@media screen and (min-width: 1064px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1320px) {
  .container {
    max-width: 1280px;
  }
}
