.marketing-block {
  @extend .container;

  display: flex;
  flex-direction: row;
  justify-content: stretch;
  max-width: 960px;
  margin-top: $navbar-height + $gutter-width;
  margin-bottom: $navbar-height + $gutter-width;

  & > div {
    flex: 1 1 auto;
    // align-items: center;
  }

  .marketing-block-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 66%;
  }

  .marketing-block-img {
    // background: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;
  }

  img {
    width: 180px;
    max-width: 100%;
  }

  h2, p {
    margin-top: 0;
    margin-bottom: $gutter-width;
  }

  @media screen and (max-width: 728px) {
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    margin-top: 3rem;
    margin-bottom: 0;
    padding-bottom: 2rem;
    text-align: center;

    &:last-child {
      border-bottom: none;
    }

    .marketing-block-img {
      order: 1;
      width: auto;
      align-items: center;
    }
    .marketing-block-content {
      order: 2;
      width: auto;
      margin-top: 2rem;
    }
  }
}
