// Typography
body {
  font-family: $font-family-base;
  font-size: 16px;
}
a {
  @include transition(color .4s);
  color: $brand-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: $brand-dark-color;
  }
  &[name] {
    display: block;
  }
}



// Flex helpers
.d-flex {
  display: flex;
}
.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
.w-75 {
  width: 75%;
}
.w-100 {
  width: 100%;
}
.w-33 {
  width: 33%;
}
.w-67 {
  width: 67%;
}
.align-items-right {
  align-items: flex-end;
}

// Spacing
.mt-1 {
  margin-top: $gutter-width;
}
.mt-2 {
  margin-top: $gutter-width * 2;
}
.mt-3 {
  margin-top: $gutter-width * 3;
}
.mt-4 {
  margin-top: $gutter-width * 4;
}
.mt-5 {
  margin-top: $gutter-width * 5;
}
.mb-1 {
  margin-bottom: $gutter-width;
}
.mb-2 {
  margin-bottom: $gutter-width * 2;
}
.mb-3 {
  margin-bottom: $gutter-width * 3;
}
.mb-4 {
  margin-bottom: $gutter-width * 4;
}
.mb-5 {
  margin-bottom: $gutter-width * 5;
}
.mr-1 {
  margin-right: $gutter-width;
}
.mr-2 {
  margin-right: $gutter-width * 2;
}

// Typography
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-uppercase {
  text-transform: uppercase;
}
