// Typography
body {
  font-family: $font-family-base;
  font-size: 16px;
}
a {
  @include transition(color .4s);
  color: $brand-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: $brand-dark-color;
  }
}



// Flex helpers
.d-flex {
  display: flex;
}
.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}

// Spacing
.mt-1 {
  margin-top: $gutter-width;
}
.mt-2 {
  margin-top: $gutter-width * 2;
}
.mb-2 {
  margin-bottom: $gutter-width * 2;
}

// Typography
.text-uppercase {
  text-transform: uppercase;
}
