$brand-color: #3097BB;

$text-color: #fff;
$body-bg: $brand-color;
$link-color: #ccc;
$link-hover-color: #fff;
$link-hover-decoration: 'underline';
$hr-border: $link-color;

$font-family-base: 'Exo', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.1em;
$line-height-computed: $line-height-base;

// 3rd party branding
$twitter-color: #55acee;
$facebook-color: #3b5998;
