$brand-color: #3097BB;
$brand-light-color: lighten($brand-color, 20%);
$brand-dark-color: darken($brand-color, 20%);

$text-color: #fff;
$body-bg: $brand-color;
$link-color: #ccc;
$link-hover-color: #fff;
$link-hover-decoration: 'underline';
$hr-border: $link-color;

$font-family-base: 'Exo', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.1em;
$line-height-computed: $line-height-base;

// Borders
$border-dark-color: #333;
$border-brand-dark-color: darken($brand-color, 20%);

// Spacing
$gutter-width: 20px;

// 3rd party branding
$twitter-color: #55acee;
$facebook-color: #3b5998;
