$brand-color: #3060A3;

$text-color: #fff;
$body-bg: $brand-color;
$link-color: #ccc;
$link-hover-color: #fff;
$link-hover-decoration: 'underline';
$hr-border: $link-color;


$font-family-base: 'Exo', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.1em;
$line-height-computed: $line-height-base;
