.bg-primary {
  background-color: $brand-color;
  color: #fff;
}

.bg-bitmap {
  background-image: image_url('bitmap.png');
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: auto;
}

.bg-dark {
  background-color: $brand-dark-color;
  color: #fff;
}

.bg-light {
  background-color: $brand-light-color;
  color: #fff;
}

.bg-grey {
  background: #aaa;
  color: #fff;
}

.bg-red {
  background-color: #933;
  color: #f7f7f7;
}

.bg-green {
  background-color: #361;
  color: #fff;
}
