@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #3097BB;
}
#__next {
  min-height: 100%;
  @apply flex;
  @apply flex-col;
}



.bg-bitmap {
  background-image: url('/images/bitmap.png');
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: auto;
}

#navbar {
  transition: top .3s;
  top: 0;
}
body.is-scrolled #navbar {
  top: -90px;
}
@media screen and (max-width: 728px) {
  body.is-scrolled #navbar {
    top: -90px;
  }
}
